{#

Copy the contents of this file in to
the template you wish to use as the
website's blog/news page.

You can customise the template, available
variables for each post are:

post.ID = Post ID
post.title = Post title
post.date = Post created timestamp
post.content = Post content
post.snippet = A snippet of the post content
post.image = Post image

#}

{% if post %}
<article id="post-{{ post.ID }}" class="article">
    <aside class="image">
        <img src="{{ post.image }}" alt="{{ post.title }}">
    </aside>
    <section class="content">
        <h1>{{ post.title }}</h1>
        <p>{{ post.snippet }}</p>
        <p><a href="/blog/{{ post.ID }}">Read more...</a></p>
    </section>
</article>
{% else %}

    {% if posts %}
        {% for post in posts %}
        <article id="post-{{ post.ID }}" class="article">
            <aside class="image">
                <img src="{{ post.image }}" alt="{{ post.title }}">
            </aside>
            <section class="content">
                <h1>{{ post.title }}</h1>
                <p>{{ post.snippet }}</p>
                <p><a href="/blog/{{ post.ID }}">Read more...</a></p>
            </section>
        </article>
        {% endfor %}
    {% else %}
    <p>No posts to show</p>
    {% endif %}

{% endif %}
